misc/
backend/models
backend/data_pipeline/artefacts


# Virtual Environment
anime/
.venv/
venv/
env/
bin/
lib/
include/

# Configuration & Secrets
database.ini
.env

# Python Bytecode
__pycache__/
*.pyc
